@model admin.Api.Model.Response.RequirementInfo

@{
    ViewData["Title"] = "Novo Requisito";
}

<h4>@ViewData["Title"]</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="RequirementName" class="control-label">Requisito</label>
                <input asp-for="RequirementName" class="form-control" />
                <span asp-validation-for="RequirementName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row mt-md-4">
        <div class="col-md-4">
            <div class="row">
                <input type="submit" value="Salvar" class="btn btn-md btn-success col-md-5" />
                <span class="col-md-2"></span>
                <a class="btn btn-md btn-outline-danger col-md-5" asp-action="Index">Cancelar</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
