@model IEnumerable<admin.ViewModels.RequirementVM>
@{
    ViewBag.Title = "Listagem de Requisitos";
}

<h4>Listagem de requisitos</h4>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Requisitos</li>
    </ol>
</nav>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-outline-success me-md-2" type="button" onclick="location.href='@Url.Action("Create")'">Adicionar Requisito</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nomes
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.RequirementId)
                    @Html.DisplayFor(modelItem => item.RequirementName)
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .btn-details {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 8px;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-details:hover {
            background-color: #0069d9;
        }
</style>           