# Arquivos da IDE Visual Studio
.vs
backend/api/bin/
backend/api/obj/
backend/dll/bin
backend/dll/obj
backend/dll/bin/
backend/dll/obj/
backend/api/bin/*
backend/api/obj/*
backend/dll/bin/*
backend/dll/obj/*
mobile/Aprovatos/Aprovatos/Aprovatos.Android/bin/
mobile/Aprovatos/Aprovatos/Aprovatos.Android/obj/
mobile/Aprovatos/Aprovatos/Aprovatos/bin/
mobile/Aprovatos/Aprovatos/Aprovatos/obj/
frontend/admin/admin/bin/
frontend/admin/admin/obj/