@model IEnumerable<admin.ViewModels.CompanyPositionVM>
@{
    ViewBag.Title = "Listagem de Cargos";
}

<h4>Listagem de cargos</h4>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Cargos</li>
    </ol>
</nav>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-outline-success me-md-2" type="button" onclick="location.href='@Url.Action("Create")'">Adicionar Cargo</button>
</div>

<table class="table table-striped datatables">

    <thead>
        <tr>
            <th>
                Nomes
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.CompanyPositionId)
                    @Html.DisplayFor(modelItem => item.CompanyPositionName)
                </td>
            </tr>
        }
        <tr>
            <td>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </td>
        </tr>
    </tbody>
</table>     