
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
    <h1>Detalhes</h1>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Carreira</option>
        <option value="1">Junior</option>
        <option value="2">Pleno</option>
        <option value="3">Senior</option>
    </select>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Nivel</option>
        <option value="1">Junior</option>
        <option value="2">Pleno</option>
        <option value="3">Senior</option>
    </select>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Requisito</option>
        <option value="1">Junior</option>
        <option value="2">Pleno</option>
        <option value="3">Senior</option>  
    </select>
    <select onchange="location = this.value;">
        <option value="">Selecione uma opção</option>
        <option value="~/Shared/Informacao.cshtml">Outra view</option>
    </select>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" onclick="history.back()">Button</button>
    </div>
</nav>

<button id="html">
    teste js
</button>

<script src="scripts/main.js"></script>
@*<script>
    document.querySelector("html").addEventListener("click", function () {
        alert("Ai! Pare de me cutucar!");
    });
</script>*@
@*<script>
    document.getElementById("nivel").onchange = function () {
        var nivel = document.getElementById("nivel").value;
        if (nivel === "1") {
            window.location.href = "~/Views/Shared/Informacao.cshtml";
        } else if (nivel === "2") {
            window.location.href = "~/Shared/Informacao.cshtml";
        } else if (nivel === "3") {
            window.location.href = "~/Informacao.cshtml";
        }
    };
</script>*@










