@model IEnumerable<admin.ViewModels.CareerMapVM>
@{
    ViewBag.Title = "Listagem de Mapas de Carreira";
}

<h4>Mapas de Carreira</h4>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Mapas de Carreira</li>
    </ol>
</nav>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-success me-md-2" type="button">Adicionar Mapa de Carreira</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Mapa de carreira
            </th>
            <th class ="w-25">
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.CareerMapId)
                    @Html.DisplayFor(modelItem => item.CareerMapName)
                </td>
                <td>
                    <button class="btn btn-info btn-sm" onclick="location.href='@Url.Action("CompanyPositionsCareerMapDetail", new { careerMapId = item.CareerMapId })'">Cargos</button>
                </td>
            </tr>
        }
    <tr>
        <td>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </td>
    </tr>
    </tbody>
</table>

<style>
.btn-details {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-details:hover {
  background-color: #0069d9;
}
</style>           